@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
}


body{
    width: 100vw;
    height: 100vh;   
   background-color: #161617;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

h1{
    position: absolute;
    top: 20%;
    left: 50%;
    color: aliceblue;
    transform: translateX(-50%);
}

a img{
    
    position: absolute;
    top: 20px;
    left: 40px;
}