@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
}

body{
    width: 100%;
    height: auto;
}

.team{
    text-align: center;
    padding: 32px;
    position: relative;
}

.logo{
    position: absolute;
    top: 20px;
    left: 40px;
}

.team h1{
    margin-top: 50px;
}

.team-members{
    margin-top: 80px;
}

.team-member{
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.team-member img{
    width: 600px;    
}

.team-member h2,
.team-member p{
    display: none;
}

.model{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0, 0.4);
}

.model-content{
    background-color: #ffffff;
    margin: 20% auto;
    padding: 30px;
    border: 1px solid black;
    width: 40%;
    border-radius: 5px;
    text-align: center;
}

#close-btn{
    font-size: 30px;
    color: black;
    float: right;
    font-weight: bolder;
    cursor: pointer;
}

#close-btn:hover,
#close-btn:focus{
    text-decoration: none;
    cursor: pointer;
}

#model-image{
    width: 500px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 20px;
    margin-top: 50px;
    border-top: solid 1px #F3F3F3;
}

.copyright{
    display: flex;
    gap: 30px;
}

.copyright a{
    color: #5c5e62;
    font-size: 12px;
}




