@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none !important;
    list-style: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header{
    width: 100%;
    display: flex;
    padding: 20px 40px;
}

.bi{
    cursor: pointer;
}

footer{
    width: 100%;
    /* position: relative; */
    /* bottom: 0   ; */
    display: flex !important;
    justify-content: center;
    padding: 40px 20px;
    margin-top: 50px;
    border-top: solid 1px #F3F3F3;
}

.copyright{
    display: flex;
    gap: 30px;
}

.copyright a{
    color: #5c5e62 !important;
    font-size: 12px;
}