@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
    font-size: 62.5%;
}

a{
    display: block;
}

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    position: relative;
    overflow-x: hidden;
}

header{
    background-color: #FFFFFF;
    opacity: 0.9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 44px;
    border-bottom: solid 1px #F3F3F3;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav{
    display: flex;
    gap: 6rem;
}

nav a{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 180%;
    color: #151411;
}

nav a:hover{
    color: #AFADB5;    
}

.dropbtn {
    background-color: transparent;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 180%;
    color: #151411;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropbtn::before{
    content: url('../src/arrowDown.svg');
    position: absolute;
    left: 110%;
    bottom: -2px;
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
  }

  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn::before{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
  }

.icons{
    display: flex;
    gap: 3.2rem;
}

.icons img{
    cursor: pointer;
}

#menuBtn button{
    background-color: rgba(0,0,0,.05);
    padding: 0.8rem 2.5rem;
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
}

#menuBtn:hover{
    animation: pulse 1s;
    box-shadow: 0 0 0 2rem transparent;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(0,0,0,.05);
      filter: hue-rotate(45deg); }
  } 


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.main-heading h1{
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 130%;
    text-align: center;
    color: #151411;
}

.main-heading p{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 180%;
    text-align: center;
    color: #AFADB5;
    max-width: 80rem;
    margin-top: 3rem;
}

.slider{
    margin-top: 6.3rem;
}


.slider img{
    border-radius: 2.5rem;
}


/* ------------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    position: relative;
    width: 70%;
    height: 60rem;
    /* margin: 0 auto; */
    overflow: hidden;
    border-radius: 2rem;
   
}

.slider img{
    margin-top: 5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;    
    border-radius: 2rem;
    transition: opacity 1s;
    object-fit: cover;
}

.slider img.active{
    opacity: 1;
}


.carousel{
    margin-top: 5rem;
    width: 80%;
    height: auto;
    border-radius: 1rem;
    /* outline: solid red; */
}

  .item-class{    
    margin: 2rem 1rem;
    border-radius: 1.5rem;
    position: relative;
    width: 39.4rem;
    height: 35rem;
    padding: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);    
  }

  .item-class h2,
  .item-class p,
  .item-class a{
    margin-top: 1rem;
  }

  .item-class h2{
    font-size: 2.4rem;
  }
 
.item-class p{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 180%;
    color: #AFADB5;
}

.item-class a{
    font-size: 1.6rem;
    font-weight: 900;
    color: #5c5e62;;
    cursor: pointer;
}

.item-class a:hover{
    font-weight: 400;
}

footer{
    position: relative;
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4rem 2rem;
    border-top: solid 1px #F3F3F3;
}

.footer-logo{
    position: absolute;
    top: 20px;
    left: 4.4rem;
}

.copyright{
    display: flex;
    gap: 3rem;
}

.copyright a{
    color: #5c5e62;
    font-size: 1.2rem;
}

menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 29.4rem;
    height: auto;
    padding: 2.4rem;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
    z-index: 999;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-close{
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 2.4rem;
    right: 2.4rem;
    cursor: pointer;
}

.menu-close:hover{
    background-color: rgba(0,0,0,.05);
}

menu ul{
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

menu a{
    color: #151411;
    font-size: 1.6rem;
}

menu select{
    width: 24rem;
    height: 5.6rem;
    margin-top: 2rem;

    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e"), url('../src/globe.svg');
    appearance: none;
    background-repeat: no-repeat, no-repeat;
    background-position: right 1rem center, left 4.5rem center;
    background-size: 1em, 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.4rem;
}

menu select:hover{
    background-color: #F3F3F3;
}

menu option{
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;      
}
.active{
    transform: translateX(0%);
    transition: transform 1s ease-in-out;
}

.video{
    width: auto;
    margin-top: 5rem;
    position: relative;
}

#myVideo {   
    width: 100%;
    height: 100%;
  }

.video-info{
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.video-info h2{
    margin-top: 5rem;
    color: white;
    font-size: 4rem;
    font-weight: 900;
}

.video-info p{
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
}

.video-info a{
    margin-top: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.4rem;
    height: 5rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;    
    border: solid 3px white;
}

.video-info a:hover{    
    animation: pulse2 1s;
    box-shadow: 0 0 0 2em transparent;
  }
  
  @keyframes pulse2 {
    0% { box-shadow: 0 0 0 0 white;
      filter: hue-rotate(45deg); }
  } 


  /* ------------------- */
.menu-nav-items a{    
    position: relative;    
}

.menu-nav-items a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #151411;
    transition: 1s ease-out;
}

.menu-nav-items a:hover::before{
    width: 30%
}

/* ----------------------------- */

@media screen and (max-width: 1300px){
    *{
        font-size: 40%;
    }    
}

@media screen and (max-width: 970px){
    *{
        font-size: 30%;
    }

    .video{
        display: none;
    }
    
}

@media screen and (max-width: 690px){
    nav{
        display: none;

    }    

    .item-class p{
        display: none;
    }
    
}

@media screen and (max-width: 470px){
   .footer-logo{
    display: none;
   }
}

