@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav,.user,.bag{
    display: none;
}

.menu{
    margin-right: 2.8rem;
}

.header-line{
    margin-top: 2.9rem;
    border: 1px solid #ECE4DE;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

main h1{
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 130%;
    text-align: center;
    color: #151411;
    max-width: 28rem;
}

main p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 180%;
    text-align: center;
    color: #AFADB5;
    max-width: 33rem;
    margin-top: 2rem;
}

.tesla-small{
    margin-top: 4.2rem;
}

.tesla-big{
    display: none;
}

.section-one{
    width: 87%;
    margin: 0  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-one span{
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 130%;
    color: #FFB23F;
    margin-top: 6.7rem;
}

.sec-one h2{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 130%;
    color: #151411;
    margin-top: 8px;
    max-width: 24.8rem;
}

.sec-one p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 180%;
    color: #AFADB5;
    margin-top: 1.6rem;
    max-width: 32.7rem;
}

.sec-one-cards{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.sec-one-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
}

.sec-one-items div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background: #F9F9F9;
    margin-top: 0.5rem;
}

.sec-one-items h3{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 130%;
    color: #151411;
    margin-top: 1.7rem;    
}

.sec-one-items p{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 180%;
    color: #AFADB5;
    margin-top: 7px;
    max-width: 29.5rem;
    margin-bottom: 1.5rem;
}

.section-two{
    display: flex;
    flex-direction: column;    
    gap: 2rem;
    width: 87%;
    margin: 0  auto;
    margin-top: 1.5rem;
}

.footer-line{
    margin: 0 auto;
    margin-top: 4.8rem;
    border: 1px solid #ECE4DE;
    width: 87%;    
}

footer p{
    width: 87%;
    margin: 0  auto;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 180%;
    color: #AFADB5;
    margin-bottom: 2.2rem;
}

@media screen and (min-width: 1440px) {
    
    .menu{
        display: none;
    }

    .bag, .user{
        display: inline-block;
    }

    header{
        width: 87%;
        margin: 0  auto;
    }

    nav{
        display: flex;
        gap: 6rem;        
    }

    nav a{
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 180%;
        color: #151411;
    }

    .header-line{
        margin-top: 0;
    }

    .user{
        margin-left: 3.2rem;
    }

    .sec-one-cards{
        flex-direction: row;
    }

    .section-two{
        flex-direction: row;
    }

    .tesla-small{
        display: none;
    }

    .tesla-big{
        display: block;
    }

    main{
        margin-top: 10rem;
    }

    main h1{
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 130%;
        max-width: 68.3rem;
    }

    main p{
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 180%;
        margin-top: 3rem;
        max-width: 79.6rem;
    }

    .tesla-big{
        margin-top: 6.3rem;
    }

    .section-one{
        margin-top: 4.5rem;
    }
   

    .sec-one span{
        font-size: 1.8rem;
    }

    .sec-one-info{
        display: flex;
        justify-content: space-between;
    }

    .sec-one-info h2{
        font-size: 4.4rem;
        line-height: 130%;
        max-width: 45.4rem;
        margin-top: 1.4rem;
    }

    .sec-one-info p{
        max-width: 50.5rem;
        font-size: 1.8rem;
        line-height: 180%;
    }

    .sec-one-cards{
        margin-top: 5rem;
        gap: 3rem;
    }

    .sec-one-items{
        align-items: flex-start;
        
    }

    .sec-one-items div{
        margin-left: 2.4rem;
        margin-top: 2.6rem;
    }

    .sec-one-items h3{
        font-size: 24px;
        margin-top: 4rem;
        margin-left: 2.4rem;
    }

    .sec-one-items p{
        font-size: 1.8rem;
        line-height: 180%;
        margin-top: 2rem;
        max-width: 34.6rem;
        margin-left: 2.4rem;
        margin-right: 2.4rem;
        margin-bottom: 1.8rem;
    }

    .section-two{
        margin-top: 9.3rem;
        background: #D9D9D9;
        padding: 2rem 2.4rem;
        gap: 5rem;
    }

    footer{
        width: 87%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 7.5rem;
        margin-bottom: 10rem;
    }

    footer p{
        max-width: 50.5rem;
        margin: 0;
        font-size: 1.8rem;
        line-height: 180%;
    }

    
}