@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 62.5%;
}

body{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav,.user,.bag{
    display: none;
}

.menu{
    margin-right: 2.8rem;
}

hr{
    height: 1.5px;
    background: #F3F3F3;
}