*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    width: 100%;
    height: auto;
}

.team{
    text-align: center;
    padding: 32px;
}

.team-member{
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.team-member img{
    width: 300px;    
}

.model{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.4);
}

.model-content{
    background-color: aliceblue;
    margin: 20% auto;
    padding: 30px;
    border: 1px solid black;
    width: 40%;
}

#close-btn{
    font-size: 30px;
    color: green;
    float: right;
    font-weight: bolder;
    cursor: pointer;
}

#close-btn:hover,
#close-btn:focus{
    color: crimson;
    text-decoration: none;
    cursor: pointer;
}

#model-image{
    width: 300px;
}

